{% extends "base.html" %}
{% block conteudo %}
    <h1>{{ "Editar" if hospede else "Novo" }} Hóspede</h1>
    <form method="POST">
        <label>CPF</label>
        <input type="text" name="cpf" value="{{ hospede.cpf if hospede else '' }}" required>
        <label>Nome</label>
        <input type="text" name="nome" value="{{ hospede.nome if hospede else '' }}" required>
        <label>Telefone</label>
        <input type="text" name="telefone" value="{{ hospede.telefone if hospede else '' }}" required>
        <label>E-mail</label>
        <input type="email" name="email" value="{{ hospede.email if hospede else '' }}" required>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}